<div class="download-app-section  mt-15 mb-20">
    <div class="d-flex align-items-center mb-0">
        <div class="col s12 m12 l3">
            <div class="app-images">
                <img src="assets/images/vip-img.png" alt="" loading="lazy">
            </div>
        </div>
        <div class="col s12 m12 l9">
            <div class="app-info">
                <a href="javascript:void(0)" class="">Download the {{websiteName}} APP</a>
                <div class="vip-start-content">
                    <div class="vip-start">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>4.6/5(97 reviews)</p>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l9">
            <div class="app-info app-content">
                <p class="m-0">Enjoy seamless live streaming and match score experience</p>
                <div class="download-btn">
                    <button class="withdraw-btn" [routerLink]="['/app']">download</button>
                </div>
            </div>
        </div>
    </div>
</div>