<div class="event-content skeleton-effect" *ngIf="!isrightsidebar">
  <div class="events" *ngFor="let i of matchArr(matchNum).fill(1)">
    <div class="top-event">
      <div class="date-time">
        <span class="date" style="color: transparent;">
          Today
        </span>
        <span class="time" style="color: transparent;">
          01:18:06
        </span>
      </div>
      <div class="valign-wrapper right live-tv hide-on-small-only">
        <a class="icons" >
        </a>
        <a class="icons ">
        </a>
      </div>
      <a  class="valign-wrapper team-details hide-on-med-and-up">
        <div class="team-1">
          <div class="team-title">
            <div class="marquee">
              <span class="marquee-inner">
              </span>
            </div>
          </div>
        </div>
        <div class="vs-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="65.141" height="65.34" viewBox="0 0 65.141 65.34">
            <g id="Group_8" data-name="Group 8" transform="translate(-547.532 -1139.426)">
              <circle id="Ellipse_1" data-name="Ellipse 1" cx="27" cy="27" r="27" transform="translate(553 1145)" fill="#ccff00"></circle>
              <text id="VS" transform="translate(563 1181)" fill="#000" font-size="24" font-family="Montserrat-Bold, Montserrat" font-weight="700" letter-spacing="0.05em"><tspan x="0" y="0">VS</tspan></text>
              <path id="Path_2" data-name="Path 2" d="M768.4,489.5l2.639,2.463-9.473,9.438h0s-1.527,1.734-3.042.172a1.77,1.77,0,0,1,.2-2.8Z" transform="translate(1370.574 1641.646) rotate(180)" fill="#ccff00"></path>
              <path id="Path_3" data-name="Path 3" d="M768.4,489.5l2.639,2.463-9.473,9.438h0s-1.527,1.734-3.042.172a1.77,1.77,0,0,1,.2-2.8Z" transform="translate(-210.369 702.545)" fill="#ccff00"></path>
            </g>
          </svg>
        </div>
        <div class="team-2">         
          <div class="team-title">
            <div class="marquee">
              <span class="marquee-inner">
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <a  class="valign-wrapper team-details hide-on-small-only">
      <div class="team-1">
        <div class="team-bg">
        </div>
        <div class="team-title">
          <div class="marquee">
            <span class="marquee-inner">
            </span>
          </div>
        </div>
      </div>
      <div class="vs-img">
        <svg xmlns="http://www.w3.org/2000/svg" width="65.141" height="65.34" viewBox="0 0 65.141 65.34">
          <g id="Group_8" data-name="Group 8" transform="translate(-547.532 -1139.426)">
            <circle id="Ellipse_1" data-name="Ellipse 1" cx="27" cy="27" r="27" transform="translate(553 1145)" fill="#ccff00"></circle>
            <text id="VS" transform="translate(563 1181)" fill="#000" font-size="24" font-family="Montserrat-Bold, Montserrat" font-weight="700" letter-spacing="0.05em"><tspan x="0" y="0">VS</tspan></text>
            <path id="Path_2" data-name="Path 2" d="M768.4,489.5l2.639,2.463-9.473,9.438h0s-1.527,1.734-3.042.172a1.77,1.77,0,0,1,.2-2.8Z" transform="translate(1370.574 1641.646) rotate(180)" fill="#ccff00"></path>
            <path id="Path_3" data-name="Path 3" d="M768.4,489.5l2.639,2.463-9.473,9.438h0s-1.527,1.734-3.042.172a1.77,1.77,0,0,1,.2-2.8Z" transform="translate(-210.369 702.545)" fill="#ccff00"></path>
          </g>
        </svg>
      </div>
      <div class="team-2">
        <div class="team-bg">
        </div>        
        <div class="team-title">
          <div class="marquee">
            <span class="marquee-inner">              
            </span>
          </div>
        </div>
      </div>
    </a>
    <div class="sub-games">
      <div class="sub-game">
        <span class="title tournament"></span>
      </div>
      <div class="mobile-badge">
        <div class="badge-right">
          <a class="icon-design"></a>
          <a class="icon-design"></a>
          <a class="icon-design"></a>
          <a class="icon-design"></a>
          <a class="icon-design"></a>
        </div>
        <div class="valign-wrapper right live-tv hide-on-med-and-up">
          <a  class="icons">
          </a>
          <a  class="icons">
          </a>
        </div>
      </div>
    </div>

    <div class="match-odds hide-on-small-only">
        <div class="matchrate">
          
          <div class="left-side">
            <div class="back-rate no-back-rate">
             
            </div>
          </div>
          <div class="right-side">
            <div class="lay-rate no-lay-rate">
             
            </div>
          </div>
        </div>
        <div class="matchrate">
          <div class="left-side">
            <div class="back-rate no-back-rate">
             
            </div>
          </div>
          <div class="right-side">
            <div class="lay-rate no-lay-rate">
             
            </div>
          </div>
        </div>
        <div class="matchrate">
          <div class="left-side">
            <div class="back-rate no-back-rate">
             
            </div>
          </div>
          <div class="right-side">
            <div class="lay-rate no-lay-rate">
             
            </div>
          </div>
        </div>
    </div> 
  </div>
</div>
<div class="col 12 m12 flex-wrap skeleton-effect" *ngIf="isrightsidebar">
<div class="game-item big-game-item">
  <div class="thumb">
    
  </div>
</div>
<div class="game-item small-game-item">
  <div class="thumb">
    
  </div>
</div>
<div class="game-item small-game-item">
  <div class="thumb">
    
  </div>
</div>
<div class="game-item big-game-item">
  <div class="thumb">
    
  </div>
</div>
<div class="game-item big-game-item">
  <div class="thumb">
    
  </div>
</div>
<div class="game-item small-game-item">
  <div class="thumb">
    
  </div>
</div>
<div class="game-item small-game-item">
  <div class="thumb">
    
  </div>
</div>
<div class="game-item big-game-item">
  <div class="thumb">
    
  </div>
</div>
<div class="game-item big-game-item">
  <div class="thumb">
    
  </div>
</div>
<div class="game-item small-game-item">
  <div class="thumb">
    
  </div>
</div>
</div>