<div id="change-password" class="modal modal-fixed-footer animated animatedFadeInUp fadeInUp" #changePassw>
    <a href="javascript:void(0)" (click)="reset('close')" class="modal-close close-icon"><i class="fa fa-times"
            aria-hidden="true"></i></a>
    <div class="modal-content">
        <div class="modal-body web-search">
            <span class="title">
                Change Password
            </span>
            <ng-container *ngIf="changePassword">
                <form [formGroup]="changePassword" novalidate (ngSubmit)="onSubmit()">
                    <div class="click-input">
                        <div class="input-field col s12" *ngIf="changePassword.get('oldPassword') as oldPwdCtrl">
                            <input placeholder="Old Password" type="{{showOPEye ? 'text' : 'password'}}"
                                formControlName="oldPassword" (keyup)="compairOldNew()"
                                [ngClass]="{'invalid': oldPwdCtrl.invalid && oldPwdCtrl.dirty}">
                            <i class="far eye_icon " [ngClass]="showOPEye ? 'fa-eye-slash' : 'fa-eye'"
                                aria-hidden="true" (click)="showOPEye =! showOPEye"></i>
                            <div *ngIf="oldPwdCtrl.errors && (oldPwdCtrl.dirty || oldPwdCtrl.touched)">
                                <span class="error_msg" data-error="wrong" data-success="right"
                                    *ngIf="oldPwdCtrl.errors.required" style="top:6px;">Old Password is required.</span>
                                <span class="error_msg" data-error="wrong" data-success="right"
                                    *ngIf="oldPwdCtrl.errors.minlength" style="top:6px;">Password must be 6 characters
                                    long.</span>
                            </div>
                        </div>
                        <div class="input-field col s12" *ngIf="changePassword.get('password') as newPwdCtrl">
                            <input placeholder="New Password" type="{{showNPEye ? 'text' : 'password'}}"
                                (keyup)="compairOldNew();compairNewConfirm()" formControlName="password"
                                [ngClass]="{'invalid': newPwdCtrl.invalid && newPwdCtrl.dirty}">
                            <i class="far eye_icon " [ngClass]="showNPEye ? 'fa-eye-slash' : 'fa-eye'"
                                aria-hidden="true" (click)="showNPEye =! showNPEye"></i>
                            <div *ngIf="newPwdCtrl.errors && (newPwdCtrl.dirty || newPwdCtrl.touched)">
                                <span *ngIf="newPwdCtrl.errors.pattern" class="error_msg" data-error="wrong"
                                    data-success="right" style="top:6px;">Password not match our format</span>
                                <span *ngIf="newPwdCtrl.errors.required" class="error_msg" data-error="wrong"
                                    data-success="right" style="top:6px;">New Password is required.</span>
                                <span class="error_msg" data-error="wrong" data-success="right"
                                    *ngIf="newPwdCtrl.errors.minlength" style="top:6px;">Password must be 6 characters
                                    long.</span>
                            </div>
                            <span *ngIf="isPasswordSameToOld" class="error_msg" style="top:6px;">Old password
                                and new password cannot be same</span>
                        </div>
                        <div class="input-field col s12"
                            *ngIf="changePassword.get('confirmPassword') as confirmPwdCtrl">
                            <input placeholder="Confirm New Password" type="{{showCPEye ? 'text' : 'password'}}"
                                (keyup)="compairNewConfirm()" formControlName="confirmPassword"
                                [ngClass]="{'invalid': confirmPwdCtrl.invalid && confirmPwdCtrl.dirty}">
                            <i class="far eye_icon " [ngClass]="showCPEye ? 'fa-eye-slash' : 'fa-eye'"
                                aria-hidden="true" (click)="showCPEye =! showCPEye"></i>
                            <div *ngIf="confirmPwdCtrl.errors && (confirmPwdCtrl.dirty || confirmPwdCtrl.touched)"
                                class="error">
                                <div *ngIf="confirmPwdCtrl.errors.required">
                                    <span class="error_msg" data-error="wrong" data-success="right"
                                        style="top:6px;">Confirm
                                        Password is required.</span>
                                </div>
                                <span class="error_msg" data-error="wrong" data-success="right"
                                    *ngIf="confirmPwdCtrl.errors.minlength" style="top:6px;">Password must be 6
                                    characters long.</span>
                            </div>
                            <span *ngIf="confirmPwdCtrl.valid && !isPasswordSame" class="error_msg" style="top:6px;">
                                Confirm password must be same as new password.</span>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <div class="submit-btn center-align">
            <div class="submit-button" href="javascript:void(0)" (click)="onSubmit()">
                <span class="submit-title">Update</span>
            </div>
        </div>
    </div>
</div>