@charset "utf-8";

.skeleton-effect h2:empty,
.skeleton-effect h3:empty,
.skeleton-effect h5:empty,
.skeleton-effect p:empty,
.skeleton-effect .team-logo,
.skeleton-effect .team-title,
.skeleton-effect .back-rate,
.skeleton-effect .lay-rate,
.skeleton-effect .match-odds-title {
  animation        : loading 1.7s infinite linear;
  background       : #dedfe1;
  background-image : -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-image : linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-repeat: no-repeat;
}
.skeleton-effect .match-odds-title {
  border-radius: 5px;
}
.skeleton-effect .team-title {
  height: 20px;
  width: 100%;
  margin: 0 10px;
  border-radius: 5px;
}
.blank-left {
  padding: 2px;
}

.blank-left p {
  margin: 0px;
}

.limit-profit p:empty {
  background-color: #fcfdff00;
  background-image: -webkit-linear-gradient(to right, rgba(27, 40, 51, 0.85) 0%, #f2f3f5 20%, rgba(27, 40, 51, 0.85) 40%, rgba(27, 40, 51, 0.85) 100%);
  background-image: linear-gradient(to right, rgba(27, 40, 51, 0) 0%, #8282827d 20%, rgba(27, 40, 51, 0) 40%, rgba(92, 93, 93, 0.13) 100%);
  width           : 100%;
}

// img:empty.card-img-top{
//   min-height: 189.75px;
// }  
h2:empty {
  height: 38px;
  width : 200px;
}

h3:empty {
  height: 22px;
  width : 200px;
}

h5:empty {
  height: 30px;
  width : 200px;
}

// h4:empty {
//   height: 18px;
//   width: 200px;
// }
p:empty {
  height       : 20px;
  width        : 100%;
  border-radius: 30px;
}

.team-name {
  padding: 12px 10px !important;
}

p:empty.lead {
  height: 30px;
  width : 200px;
}

@keyframes loading {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 500px;
  }
}

.suspend .suspend-cont {
  animation        : loading 1.7s infinite linear;
  background-color : rgba(58, 51, 51, 0.7);
  background-image : -webkit-linear-gradient(to right, rgba(27, 40, 51, 0.85) 0%, #f2f3f5 20%, rgba(27, 40, 51, 0.85) 40%, rgba(27, 40, 51, 0.85) 100%);
  background-image : linear-gradient(to right, rgba(27, 40, 51, 0) 0%, rgba(58, 51, 51, 0.3) 20%, rgba(27, 40, 51, 0) 40%, rgba(92, 93, 93, 0.13) 100%);
  background-repeat: no-repeat;
}

.live-broadcast {
  color       : #000000;
  margin-right: 5px;
}

.live-broadcast i {
  font-size  : 18px;
  font-weight: 600;
}

.rotatepin {
  color    : #ef069d;
  transform: rotate(-90deg);
}

.multipin {
  width            : 20px;
  height           : 20px;
  text-align       : center;
  display          : flex;
  -webkit-box-align: center;
  align-items      : center;
  -webkit-box-pack : center;
  justify-content  : center;
  margin-right     : 2px;
  margin-left      : 2px;
  border-radius    : 50%;
  background-color : #99b23e;
}

.pincolor {
  color: #ef069d;
}
.tabs {
  /* Add margin or padding as needed */
  margin-bottom: 4px;
}

.tab {
  /* Add margin or padding as needed */
  margin-right: 4px;
}