<body class="bg-img bg-login">
  <main class="full-wrap mb-0 bg-login">
    <div class="row m-0">
    <div class="col-center col s12">
      <div class="login-page">
        <div class="login-box-wrapper">
          <div class="login-leftBox-wrapper">


            <div class="boxes first">
              <div class="box-1">
                <img src="assets/images/mobile.png" alt="" loading="lazy">
              </div>

            </div>

            <div class="boxes second">
              <div class="box-2">
                <h1>Welcome To BETPRO.TV</h1>
                <h3>We Bring You Closer To Your Wins.</h3>
              </div>

            </div>

            <div class="boxes third">
              <div class="box-3">
                <img src="assets/images/BetPro.png" alt="" loading="lazy">
              </div>

            </div>
            <div class="boxes four">
              <div class="box-4">
                <h4>The House of High Stakes and Higher Rewards</h4>
                <p>Experience the perfect blend of strategy and luck in a world of endless possibilities.
                </p>

                <div class="casino-itemWrapper">
                  <img src="assets/images/casino-item.png" alt="" loading="lazy">
                </div>
              </div>

            </div>

            <div class="boxes five">
              <div class="box-5">
                <div>
                  <h4>Bet Beyond the Ordinary</h4>
                  <p>Elevate your game with innovative casino experiences and dynamic sports betting.</p>
                </div>

                <div class="allGameImage">
                  <img src="assets/images/allgame.png" alt="" loading="lazy">
                </div>
              </div>
            </div>
            <div class="boxes six">
              <div class="box-6 ">
                <h4>Your Chance to Win Big Awaits</h4>
                <p>Join the action with premium casino games and live sports betting right at your
                  fingertips.</p>
                <div class="casino-itemWrapper">
                  <img src="assets/images/gift.png" alt="" loading="lazy">
                </div>
              </div>
            </div>

          </div>
          <div class="login-rightBox-wrapper">
            <div class="loginbox-wrapper">
              <div class="loginBox-titleWrapper">
                <h2 class="loginBox-title account-tilte">Create a new account</h2>
                <p class="loginBox-para">sign up to our platform</p>
              </div>

              <div class="left-arrow" [routerLink]="['/sports']">
                <img src="assets/images/arrow-left.png" alt="" loading="lazy">
              </div>

            </div>
            <div id="otplessModal" class="modal" #otplessModal>
              <div class="modal-content">
                <div id="otpless-login-page"  data-ch="mobile" ></div>
              </div>
              </div>
            <div class="login-bottom-wrapper">

              <div class="all-tabs-content">
                <ul class="tabs" *ngIf="isSendOTP">
                  <li class="tab" (click)="switchTab('password')"><a href="javascript:void(0)"
                      [class.active]="activeTab === 'password'">By Password </a></li>
                  <li class="tab" (click)="switchTab('otp')"><a href="javascript:void(0)"
                      [class.active]="activeTab === 'otp'">By OTP</a></li>
                </ul>
                <div class="login-tabs">
                  <!-- password content data -->
                  <div id="password" *ngIf="activeTab === 'password'">
                    <form class="" [formGroup]="registerForm">
                      <div class="login-inner-container">
                        <div class="username-password">
                          <div class="user_input" *ngIf="registerForm.get('UserName') as userNameCtrl">
                            <input placeholder="Username" class="input-field " id="user_name" autocomplete="off"
                              formControlName="UserName" (focusout)="userFocusOutFn($event)"
                              (focus)="usernameValidationMsg=''">
                            <div *ngIf="userNameCtrl.errors && (userNameCtrl.dirty || userNameCtrl.touched)">
                              <span class="helper-text error left-align" data-error="wrong" data-success="right"
                                *ngIf="userNameCtrl.errors.required">Please enter username</span>
                              <span *ngIf="userNameCtrl.errors.pattern" class="helper-text error left-align"
                                data-error="wrong" data-success="right">Username not allow space or special
                                character.</span>
                            </div>
                            <div *ngIf="usernameValidationMsg && usernameValidationMsg.length > 0">
                              <span class="helper-text error left-align" data-error="wrong"
                                data-success="right">{{usernameValidationMsg}}</span>
                            </div>
                          </div>
                          <div class="row mb-10" *ngIf="registerForm.get('mobileNo') as mobilenumCtrl">
                            <div class="phoneNumber-wrapper signup-phone">
                              <div class="phoneinput">
                              <ngx-intl-tel-input [cssClass]="'custom-input'" [onlyCountries]="onlyCountries"
                                [enableAutoCountrySelect]="true" [customPlaceholder]="PhonePacleHolder"
                                [searchCountryFlag]="false" [enablePlaceholder]="false"
                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Pakistan" [maxLength]="10"
                                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National" name="mobile" formControlName="mobileNo"
                                (focusout)="mobileFocusOutFn($event)" (keyup)="mobilekeyup($event)">
                              </ngx-intl-tel-input>
                            </div>
                            <div *ngIf="mobilenumCtrl.errors && (mobilenumCtrl.dirty || mobilenumCtrl.touched)">
                              <span class="helper-text error left-align" data-error="wrong" data-success="right"
                                *ngIf="numberrequiredvalidation">Please enter mobile number</span>
                              <span class="helper-text error left-align" data-error="wrong"
                                data-success="right" *ngIf="numbervalidation">Enter valid mobile number.</span>
                            </div>
                            <div *ngIf="mobileValidationMsg && mobileValidationMsg.length > 0">
                              <span class="helper-text error left-align" data-error="wrong"
                                data-success="right">{{mobileValidationMsg}}</span>
                            </div>
                          </div>

                          </div>

                          <div class="password-field" *ngIf="registerForm.get('Password') as passwordCtrl">
                            <div class="user_input password-wrapper ">
                              <input placeholder="Password" class="input-field " id="password" autocomplete="off"
                                type="{{showPasswordVisibility ? 'text' : 'password'}}" formControlName="Password"
                                (keyup.enter)="onSubmitRegisterForm()">
                              <svg class="eye-icon" [ngClass]="showPasswordVisibility ? 'fa-eye-slash' : 'fa-eye'"
                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                (click)="showPasswordVisibility =! showPasswordVisibility">
                                <path
                                  d="M17.94 17.94C16.2306 19.243 14.1491 19.9649 12 20C5 20 1 12 1 12C2.24389 9.6819 3.96914 7.65661 6.06 6.06M9.9 4.24C10.5883 4.07888 11.2931 3.99834 12 4C19 4 23 12 23 12C22.393 13.1356 21.6691 14.2047 20.84 15.19M14.12 14.12C13.8454 14.4147 13.5141 14.6512 13.1462 14.8151C12.7782 14.9791 12.3809 15.0673 11.9781 15.0744C11.5753 15.0815 11.1752 15.0074 10.8016 14.8565C10.4281 14.7056 10.0887 14.481 9.80385 14.1962C9.51897 13.9113 9.29439 13.5719 9.14351 13.1984C8.99262 12.8248 8.91853 12.4247 8.92563 12.0219C8.93274 11.6191 9.02091 11.2218 9.18488 10.8538C9.34884 10.4859 9.58525 10.1546 9.88 9.88M1 1L23 23"
                                  stroke="#3D3D3D" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                              </svg>
                              <div *ngIf="passwordCtrl.errors && (passwordCtrl.dirty || passwordCtrl.touched)">
                                <span class="helper-text error left-align" data-error="wrong"
                                  data-success="right" *ngIf="passwordCtrl.errors.required">Please enter password</span>
                                <span *ngIf="passwordCtrl.errors.pattern" class="helper-text error left-align"
                                  data-error="wrong" data-success="right">{{passwordPatterncheck[1]}}</span>
                                <span *ngIf="passwordCtrl.errors.pattern" class="helper-text error left-align"
                                  data-error="wrong" data-success="right">Example: {{passwordPatterncheck[2]}}</span>
                              </div>
                            </div>

                          </div>

                        </div>

                        <div class="login-top-buttons register-btn">

                          <div class="button-content">
                            <a href="javascript:void(0)" (click)="onSubmitRegisterForm()"
                              [ngClass]="loading?'login-disable':''">
                              <i *ngIf="loading" class="fa fa-circle-notch fa-spin fa-sm"></i>
                              <span class="animate-btn">Register</span>
                            </a>
                          </div>
                        </div>


                      </div>
                    </form>
                  </div>
                  <!-- otp content data -->
                  <div id="otp" *ngIf="activeTab === 'otp'">
                    <form class="" [formGroup]="registerByOTPForm" (ngSubmit)="onSubmitRegisterByOTP()">
                      <div class="login-inner-container">
                          <div class="phoneNumber-wrapper" *ngIf="registerByOTPForm.get('Mobile') as mobilenumCtrl">
                            <div class="phoneinput">
                            <ngx-intl-tel-input [cssClass]="'input-field'" [onlyCountries]="onlyCountries"
                              [enableAutoCountrySelect]="true" [customPlaceholder]="PhonePacleHolder"
                              [searchCountryFlag]="false" [enablePlaceholder]="false"
                              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                              [selectFirstCountry]="false" [selectedCountryISO]="selectedCountryISO" [maxLength]="10"
                              [phoneValidation]="true" [separateDialCode]="separateDialCode"
                              [numberFormat]="PhoneNumberFormat.National" name="mobile" formControlName="Mobile"
                              (focusout)="mobileFocusOutFn1($event)" (keyup)="mobilekeyup($event)">
                            </ngx-intl-tel-input>
                            </div>                          
                          <div *ngIf="mobilenumCtrl.errors && (mobilenumCtrl.dirty || mobilenumCtrl.touched)">
                            <span class="helper-text error left-align" data-error="wrong" data-success="right"
                              *ngIf="numberrequiredvalidation">Mobile number is required</span>
                            <span class="helper-text error left-align" data-error="wrong" data-success="right"
                              *ngIf="numbervalidation">Enter valid mobile number.</span>
                          </div>
                          <div *ngIf="mobileValidationMsg && mobileValidationMsg.length > 0">
                            <span class="helper-text error left-align" data-error="wrong"
                              data-success="right">{{mobileValidationMsg}}</span>
                          </div>
                        </div>
                        <div class="login-top-buttons">
                          <div class="button-content">
                            <a href="javascript:void(0);" (click)="onSubmitRegisterByOTP()"
                              [ngClass]="loading?'login-disable':''"> <i *ngIf="loading"
                                class="fa fa-circle-notch fa-spin fa-sm" style="z-index: 9;"></i><span
                                class="animate-btn">
                                Send OTP
                              </span></a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="login-inner-container">
                    <div class="demo-user-button top-spacing" *ngIf="isDemoLogin">
                      <a href="javascript:void(0)" (click)="DemoLogin()" [ngClass]="demoloading?'login-disable':''"> <i
                          *ngIf="demoloading" class="fa fa-circle-notch fa-spin fa-sm"></i><span class="animate-btn">Try
                          Demo</span></a>
                    </div>

                    <div class="joinus-option">
                      <p>Or sign up with</p>
                      <div class="social-media">
                        <div class="mediabox">
                          <!-- <div class="social-image"><img src="assets/images/google.png" alt=""></div>
                          <span>Google</span> -->
                          <asl-google-signin-button 
                          size="small" 
                          class="google-button" 
                          style="width: auto; height: 32px; font-size: 40px; padding: 4px 8px;" 
                          type="standard" 
                          text="continue_with" 
                          theme="filled_blue">
                        </asl-google-signin-button>
                        
                        </div>
                        <div class="mediabox" *ngIf="isWALoginEnable" (click)="openModal()">
                          <div class="social-image">
                            <img src="assets/images/whatsapp.png" alt="" loading="lazy">
                          </div>
                          <span>WhatsApp</span>
                        </div>
                        <div class="mediabox" (click)="signInWithFB()" >
                          <div class="social-image">
                            <img src="assets/images/facebook.png" alt="" loading="lazy">
                          </div>
                          <span>Facebook</span>
                        </div>


                      </div>
                    </div>

                    <!-- <div class="checkbox-paraWrapper">
                      <p class="remember-field ">
                        <label>
                          <input type="checkbox" class="filled-in">
                          <span class="keep"><span>By signing up on Betpro.tv, I agree, I am above the age of 18 & I
                              understand & accept the terms & conditions.</span></span>
                        </label>
                      </p>
                    </div> -->

                    <div class="account-wrapper">
                      <p>Already have an account? <a  href="javascript:void(0);" (click)="OnSignInClick()">Login</a></p>

                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <app-footer/>

  </main>
</body>
<div id="otp-page" class="modal" #verifyOtpPage>

  <a href="javascript:void(0)" class="modal-close right close-icon" (click)="otpPageInstances.close()"><i class="fa fa-times" aria-hidden="true"></i></a> 
    <h5>
      <span class="card-title">
        <img src="assets/images/ac-title-bg.png" alt="title" loading="lazy">
        <span class="title">
         Verification
        </span>
      </span>
    </h5>

  <div class="modal-content">
    <div class="otp-page">
      <div class="otp-details">
          <form [formGroup]="UpdateMobileNoForm" (ngSubmit)="RegistrationUpdateMobile()">
            <div class="row  enter-number">
              <div class="input-field verify-mobcontrol" *ngIf="UpdateMobileNoForm.get('mobileNo') as mobilenumCtrl">
                <ngx-intl-tel-input [cssClass]="'verify-otp-mobcontrol-custom-input'" [onlyCountries]="onlyCountries" [enableAutoCountrySelect]="true"
                  [customPlaceholder]="PhonePacleHolder" [searchCountryFlag]="false"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                  [selectedCountryISO]="selectedCountryISO" [maxLength]="10" [phoneValidation]="true"
                  [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="mobile"
                  formControlName="mobileNo" (keyup)="mobilekeyup($event)">
                </ngx-intl-tel-input>
                <label for="user_mobile" class="active">Mobile Number</label>
                <div *ngIf="mobilenumCtrl.errors && (mobilenumCtrl.dirty || mobilenumCtrl.touched)">
                  <span class="helper-text error  left-align" data-error="wrong" data-success="right"
                    *ngIf="numberrequiredvalidation">Mobile number is required</span>
                </div>
                <div class="helper-text error  left-align" data-error="wrong" data-success="right"
                *ngIf="numbervalidation">Enter valid mobile number.</div>
              </div>
              <div class="edit-button" *ngIf="!isUpdateMobileNo">
                <a href="javascript:void(0)" class="edit-btn" (click)="onEditUpdateMobileClick()">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </div>
              <div class="confirm-btn" *ngIf="isUpdateMobileNo">
                <a href="javascript:void(0)" class="v-status verified" (click)="RegistrationUpdateMobile()"> 
                  <i *ngIf="loading && UpdateMobileNoForm.valid" class="fa fa-circle-notch fa-spin fa-sm" style="font-size: 14px;margin-right: 2px;"></i> Update 
                </a>
                <a href="javascript:void(0)" class="v-status not-verified" (click)="onCancelUpdateMobileClick()"> 
                  <i class="fas fa-times"></i> 
                </a>
              </div>
            </div>

          </form>
        <div class="wrap">
          <div class="text">We sent a 6-digit code to your mobile number  </div>
        </div>
        <div class="bottom-border">
          <svg xmlns="http://www.w3.org/2000/svg" width="740" height="1" viewBox="0 0 740 1" fill="none">
            <line y1="0.5" x2="740" y2="0.5" stroke="url(#paint0_radial_1123_2933)"/>
            <defs>
            <radialGradient id="paint0_radial_1123_2933" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(345.501 -3.99881) rotate(58.742) scale(166.697 123356)">
            <stop stop-color="#E4E1E1"/>
            <stop offset="1" stop-color="#F5F4F4" stop-opacity="0"/>
            </radialGradient>
            </defs>
          </svg>
        </div>

        <div class="otp-verify">
          <div class="enter-otp">
            Enter Your OTP code here
          </div>
          <form [formGroup]="otpForm">
            <div class="mt-10 mb-10">
              <ng-otp-input *ngIf="showOtpComponent" #ngOtpInput (onInputChange)="onOtpChange($event)"  [config]="config"></ng-otp-input>
            </div>
            <div *ngIf="isOtpCheck">
              <span  class="helper-text error  left-align" data-error="wrong" data-success="right">Only 1 Number can Add</span>
              </div>
            <div class="otp-expire" *ngIf="!isResendOtp">
              Resend OTP in :<span class="timer" id="timer"> {{displayotptimer}} </span> 
            </div>
            <div class="send-code" *ngIf="isResendOtp">
              <div class="text"> Didn't receive the code? </div>
              <a href="javascript:void(0)" class="resend-code" (click)="onResendOtpClick()">Resend code</a>
            </div>
            <button class="btn btn-verify" [disabled]="loading" (click)="RegistrationComplete()">
              <i *ngIf="loading && otpForm.valid" class="fa fa-circle-notch fa-spin fa-sm" style="font-size: 14px;margin-right: 2px;"></i>
              <span class="animate-btn">
                Verify
              </span>
            </button>

          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div id="offer-popup" class="modal modal-fixed-footer" #ConfirmModal>
  <a href="javascript:void(0)" class="modal-close right close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
  <h5>
    <span class="card-title">
      <img src="assets/images/ac-title-bg.png" alt="title" loading="lazy">
      <span class="title">
        Offer
      </span>
    </span>
  </h5>
  <div class="modal-content pt-10">
    <div class="offer-details">
      <h6 class="center-align">You haven't select any offer from available, are you sure want to continue?</h6>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-center align-items-center">
      <a href="javascript:void(0)" (click)="confirm()" class="btn d-flex align-items-center mr-20">
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.1416 0.734863C4.6416 0.734863 0.141602 5.23486 0.141602 10.7349C0.141602 16.2349 4.6416 20.7349 10.1416 20.7349C15.6416 20.7349 20.1416 16.2349 20.1416 10.7349C20.1416 5.23486 15.6416 0.734863 10.1416 0.734863ZM10.1416 18.7349C5.7316 18.7349 2.1416 15.1449 2.1416 10.7349C2.1416 6.32486 5.7316 2.73486 10.1416 2.73486C14.5516 2.73486 18.1416 6.32486 18.1416 10.7349C18.1416 15.1449 14.5516 18.7349 10.1416 18.7349ZM14.7316 6.31486L8.1416 12.9049L5.5516 10.3249L4.1416 11.7349L8.1416 15.7349L16.1416 7.73486L14.7316 6.31486Z" fill="white"/>
          </svg>
        Yes</a>
      <a href="javascript:void(0)" (click)="decline()" class="btn modal-close">
        Cancel
     </a>
  </div>
  </div>
</div>
<div *ngIf="isShowGoogleCaptcha" style="visibility: hidden;">
  <re-captcha size="invisible" #captchaRef="reCaptcha" (resolved)="resolved($event)" [siteKey]="sitekey"></re-captcha>
</div>
<app-change-password #resetpassword [isResetPassword]="isResetPassword"/>