<div class="bet-start" *ngFor="let matchBet of matchBets;let first=first;">
    <div class="header" *ngIf="first">
        <div class="row m-0 valign-wrapper">
            <div class="col s6 left-align">Selection</div>
            <div class="col s2 center">Odds</div>
            <div class="col s2 center">Stake</div>
            <div class="col s2 center">P/L</div>
        </div>
    </div>
    <ng-container *ngIf="isCheckAverageOdd">
        <ng-container *ngFor="let avg of averageOddList;">
            <ng-container *ngIf="avg.match == matchBet.match">
                <div class="odd-title center" *ngIf="avg.isHead">
                    <span> {{ avg.betName }}</span>
                    <div class="match-name">{{ avg.match }}</div>
                </div>
                <div class="bet-record v-blue" [class.v-blue]="avg.isBack" [class.v-pink]="!avg.isBack">
                    <div class="row m-0 valign-wrapper">
                        <div class="col s6 left-align">
                            <div class="beatteam">{{avg.betTitle}}</div>
                            <small></small>
                        </div>
                        <div class="col s2 center">
                            {{((avg.profit / avg.stake) + 1).toFixed(2)}}
                        </div>
                        <div class="col s2 center">{{ avg.stake }}</div>
                        <div class="col s2 center">{{ avg.profit }}</div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngFor="let bet of matchBet.betDetails">
        <ng-container *ngIf="bet.active !== false">
            <div class="odd-title center">
                <span> {{ bet.name }}</span>
                <div class="match-name">{{ matchBet.match }}</div>
            </div>
            <div class="bet-record v-blue" *ngFor="let betDetail of bet.details"
                [class.v-blue]="betDetail.clientBetDetails.isBack" [class.v-pink]="!betDetail.clientBetDetails.isBack">
                <ng-container *ngIf="betDetail.matchBets.betDetails as detail">
                    <div class="row m-0 valign-wrapper">
                        <div class="col s6 left-align">
                            <div class="beatteam">{{detail.betTitle}}</div>
                            <small>{{detail.createdDate?((detail.createdDate|date:'dd-MM-yyyy hh:mm:ss')):''}}</small>
                        </div>
                        <div class="col s2 center">{{ detail.rate }}</div>
                        <div class="col s2 center">{{detail.stake}}</div>
                        <div class="col s2 center">{{detail.profit}}</div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</div>
<div class="bet-start" *ngIf="(matchBets !=null && matchBets.length > 0)">
    <div class="average-odd">
        <label>
            <input type="checkbox" class="filled-in" [(ngModel)]="isCheckAverageOdd" (change)="getAverageOdds()">
            <span>Average Odd</span>
        </label>
    </div>
</div>
<div *ngIf="!(matchBets !=null && matchBets.length > 0)" class="center-align no-bets">
    There are currently no matched Bets. </div>